notered-json/published_to_rio.json
[
    {
        "id": "3c77cb19529f5974",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "eacf660f8f7beb09",
        "type": "mqtt in",
        "z": "3c77cb19529f5974",
        "name": "",
        "topic": "ESIEA/grp1",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "2b355df69a93a109",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 320,
        "wires": [
            [
                "b423ace2f737aa2f",
                "cb5bac7fe6b95d06"
            ]
        ]
    },
    {
        "id": "b423ace2f737aa2f",
        "type": "json",
        "z": "3c77cb19529f5974",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": true,
        "x": 370,
        "y": 200,
        "wires": [
            [
                "8c977690eea976b8"
            ]
        ]
    },
    {
        "id": "8c977690eea976b8",
        "type": "template",
        "z": "3c77cb19529f5974",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"metrics\": [\n        {\n            \"name\": \"humidity\",\n            \"datatype\": 9,\n            \"floatValue\": {{payload.humidity}}\n        },\n        {\n            \"name\": \"temperature\",\n            \"datatype\": 9,\n            \"floatValue\": {{payload.temperature}}\n        }\n    ]\n}",
        "output": "json",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "6a32afb77d42e2d5",
                "73ce9858bf0044f9"
            ]
        ]
    },
    {
        "id": "36fe5598e14bc0d2",
        "type": "mqtt out",
        "z": "3c77cb19529f5974",
        "name": "",
        "topic": "spBv1.0/ESIEA/DDATA/raspberry/esp8266_1",
        "qos": "1",
        "retain": "true",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "db20caf1db781d0d",
        "x": 1050,
        "y": 340,
        "wires": []
    },
    {
        "id": "6a32afb77d42e2d5",
        "type": "encode",
        "z": "3c77cb19529f5974",
        "name": "sparkplug_b_encode",
        "protofile": "21478707fd32f6ff",
        "protoType": "Payload",
        "x": 700,
        "y": 200,
        "wires": [
            [
                "a8453aab56fa03cf",
                "f066e20523c107f3",
                "36fe5598e14bc0d2"
            ]
        ]
    },
    {
        "id": "cb5bac7fe6b95d06",
        "type": "debug",
        "z": "3c77cb19529f5974",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8453aab56fa03cf",
        "type": "debug",
        "z": "3c77cb19529f5974",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 200,
        "wires": []
    },
    {
        "id": "73ce9858bf0044f9",
        "type": "debug",
        "z": "3c77cb19529f5974",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 480,
        "wires": []
    },
    {
        "id": "65a656b8c204c139",
        "type": "debug",
        "z": "3c77cb19529f5974",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 40,
        "wires": []
    },
    {
        "id": "f066e20523c107f3",
        "type": "decode",
        "z": "3c77cb19529f5974",
        "name": "sparkplug_b_decode",
        "protofile": "21478707fd32f6ff",
        "protoType": "Payload",
        "x": 1000,
        "y": 80,
        "wires": [
            [
                "65a656b8c204c139"
            ]
        ]
    },
    {
        "id": "2b355df69a93a109",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.4",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "1",
        "birthRetain": "true",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "db20caf1db781d0d",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.3",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "21478707fd32f6ff",
        "type": "protobuf-file",
        "protopath": "C:\\Users\\shraf\\Downloads\\sparkplug_b.proto",
        "watchFile": true,
        "keepCase": false
    }
]